.top-players, .blogs{
    display: grid;
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}
.courses{
    float: left;
    place-items: center;
}
.top-players, .courses{
    grid-template-columns: repeat(3, 1fr);
}
.blogs{
    grid-template-columns: repeat(2, 1fr);
}
.player, .blog{
    display: flex;
}
.player img{
    height: 50px;
    margin-right: 20px;
}
.thumbnail img{
    height: 200px;
    margin-right: 20px;
}
.course img{
    height: 250px;
    width: 330px;
    margin: 30px;
   
}
.course-detail{
    text-align: center;
}

main{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}
.filled{
    color: goldenrod;
 }
 .unfilled{
     color: lightgray;
 }
@media (max-width:992px){
    .top-players{
        grid-template-columns: repeat(2, 1fr);
         }
         .blogs{
            grid-template-columns: repeat(1, 1fr);
             }
}
@media(max-width:668px){
    .top-players{
        grid-template-columns: repeat(1, 1fr);
         }
         .blog{
             display: block;
         }
}